<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>com.aapps.webapp.macnamer.plist</string>
	<key>displayName</key>
	<string>MacNamer</string>
	<key>launchKeys</key>
	<array/>
	<key>installationIndicatorFilePath</key>
	<string>/path/to/your/macnamer_env/macnamer/macnamer.wsgi</string>
	<key>includeFiles</key>
	<array>
		<string>/Library/Server/Web/Config/apache2/httpd_macnamer.conf</string>
	</array>
	<key>requiredModuleNames</key>
	<array>
		<string>wsgi_module</string>
	</array>
</dict>
</plist>
